</main>

<hr class="hrFooter">

<div class="contact">

    <div class="iconContact">

        <div class="iconImg">
            <img src="{{ asset('assets/img/icon/ico.phone.png') }}" alt="icone téléphone" class="imgFluid">
        </div>
        <h3>05 49 93 28 41</h3>

    </div>

    <div class="iconContact">

        <div class="iconImg">
            <img src="{{ asset('assets/img/icon/ico_position.png') }}" alt="icone position" class="imgFluid">
        </div>
        <h3>22 Route de Puygareau<br>Sossais</h3>

    </div>

    <div class="iconContact">

        <div class="iconImg">
            <img src="{{ asset('assets/img/icon/ico_mail.png') }}" alt="icone mail" class="imgFluid">
        </div>
        <h3>lescreatifsdepuygareau@yahoo.com</h3>

    </div>

</div>


<footer>

    <div class="bandeauFooter">

        <div class="copyright">
            <div class="imgCopyright">
                <img src="{{ asset('assets/img/logo/logoCopyright.png') }}" alt="logo Copyright" class="imgFluid">
            </div>
            <p>Copyright 2019<br>Les Créatifs de Puygareau</p>
        </div>

        <ul class="linkFooter">
            <li><a href="#">Qui sommes-nous ?</a></li>
            <li><a href="{{ path('admin_home') }}">Espace administrateur</a></li>
        </ul>

        <a href="https://www.facebook.com/davidhenshall86230/" target="_blank">
            <div class="linkFacebook">

                <img src="{{ asset('assets/img/logo/logoFacebook.png') }}" alt="logo Facebook" class="imgFluid">

            </div>
        </a>

        <div class="Author">
            <p>Réalisé par :<br>Teddy Perissinotto</p>
        </div>

    </div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>


</body>
</html>