<!doctype html>
<html lang="fr">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152911736-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-152911736-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Site de fabrication de jouets et objes en bois artisanal" />
    <meta name="keywords" content="Jouet, bois, jeux, artisanat, artisant, les créatifs de puygareau, les-créatifs-de-puygareau">
    <meta name="google-site-verification" content="QnLr_ufl0p2zL2h0IsEuA1BCK86_TqXbvY1TA8mnEZc" />
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="icon" href="{{ asset('assets/img/logo/logo.png') }}">
    <title>LES CREATIFS DE PUYGAREAU</title>
</head>
<body>

<header>

    <div class="buttonBackToTop" id="clickButtonTop">
        <a href="">
        <img src="{{ asset('assets/img/icon/ico.arrowtop.png') }}" alt="flèche vers le haut" class="imgFluid">
        </a>
    </div>

    <div class="headbandLogo">

        <div class="ico">
            <img src="{{ asset('assets/img/icon/ico.horse.png') }}" alt="icone cheval à bascule" class="imgFluid">
        </div>

        <div class="ico">
            <img src="{{ asset('assets/img/icon/ico.housetoy.png') }}" alt="icone maison en bois" class="imgFluid">
        </div>

        <div class="logo">
            <img src="{{ asset('assets/img/logo/logo.png') }}" alt="image du logo" class="imgFluid">
        </div>

        <div class="ico">
            <img src="{{ asset('assets/img/icon/ico.train.png') }}" alt="icone train en bois" class="imgFluid">
        </div>

        <div class="ico">
            <img src="{{ asset('assets/img/icon/ico.woodHouse.png') }}" alt="icone maison en bois" class="imgFluid">
        </div>

    </div>

    <div class="navbar">
        <ul class="ulNavbar">

            <li class="linkNavbar"><a href="{{ path('index') }}" class="">Accueil</a></li>
            <li class="linkNavbar" id="clickMenu"><a href="#none">Nos produits</a></li>
            <div class="slideMenu">

                <div class="categoryList">

                    {% for categorie in categories %}

                        <a href="{{ path('articles_by_category', {'id': categorie.id}) }}">
                            <div class="category">

                                <div class="imgCategory">
                                    <img src="{{ asset('assets/img/icon') }}/{{ categorie.imagecategorie }}" class="imgFluid" alt="">
                                </div>

                                <h3 class="linkCategory">
                                    {{ categorie.title }}
                                </h3>
                            </div>
                        </a>
                    {% endfor %}
                </div>

            </div>
            <li class="linkNavbar"><a href="{{ path('home_news') }}">Nos actualités</a></li>
            <li class="linkNavbar"><a href="{{ path('media') }}">Presse</a></li>
            <li class="linkNavbar"><a href="{{ path('contact') }}">Contact</a></li>
        </ul>
    </div>

    {% include 'base/searchBar.html.twig' %}

</header>


<main>

