{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <h2>Liste des Produits</h2>

    <a href="{{ path('articles_form_insert') }}">
        <div class="buttonCreate">
            <p>Créer un produit</p>
        </div>
    </a>

    <div class="adminTable">
    {% for article in articles %}

        <div class="adminTableInfo">

            <div class="infoBox">
                <p>{{ article.title }}</p>
            </div>

            <div class="imagesBox">
            {% for image in article.images %}
                <div class="adminImg">
                    <img src="{{ asset('assets/img/upload') }}/{{ image.title }}" class="imgFluid">
                </div>
            {% endfor %}
            </div>

            <div class="buttonBox">
            <a href="{{ path('admin_menu_images') }}" class="buttonAdd">Ajouter une images</a>
            <a href="{{ path('articles_form_update', {'id': article.id}) }} " class="buttonUpdate">Modifier</a>
            <a href="{{ path('articles_delete', {'id': article.id}) }} " class="buttonDelete">Supprimer</a>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}