{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <a href="{{ path('news_form_insert') }}">Créer une nouvelle News</a>

    <h3>Liste des News</h3>

    {% for oneNews in news %}

    <div class="adminNewsInfo">

        <span>{{ oneNews.date|date("d/m/Y") }}</span>
        <span>{{ oneNews.title }}</span>

        {% for image in oneNews.images %}
        <div class="adminImgNews">
            <img src="{{ asset('assets/img/news') }}/{{ image.title }}" class="imgFluid">
        </div>
        {% endfor %}


        <a href="{{ path('news_form_update', {'id': oneNews.id}) }} ">Modifier</a>
        <a href="{{ path('news_delete', {'id': oneNews.id}) }} ">Supprimer</a>

    </div>
    {% endfor %}

{% endblock %}