{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <div class="formArticle">

    <h1>Formulaire Produits : Ajouter/Modifier</h1>


        {{ form_start(articlesFormView, {'attr': {'class' : 'adminForm'}}) }}

        <div class="formElement">
            {{ form_label(articlesFormView.categorie, 'Catégorie', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.categorie, {'attr': {'class' : 'formInput'}}) }}
        </div>

        <div class="formElement">
            {{ form_label(articlesFormView.title, 'Titre', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.title, {'attr': {'class' : 'formInput'}}) }}
        </div>

        <div class="formElement">
            {{ form_label(articlesFormView.description, 'Description', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.description, {'attr': {'class' : 'formText'}}) }}
        </div>

        <div class="formElement">
            {{ form_label(articlesFormView.size, 'Taille', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.size, {'attr': {'class' : 'formInput'}}) }}
        </div>

        <div class="formElement">
            {{ form_label(articlesFormView.price, 'Prix', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.price, {'attr': {'class' : 'formInput'}}) }}
        </div>

        <div class="formElement">
            {{ form_label(articlesFormView.Envoyer, 'Envoyer', {'label_attr': {'class' : 'labelForm'}}) }}
            {{ form_widget(articlesFormView.Envoyer, {'attr': {'class' : 'labelSubmit'}}) }}
        </div>

        {{ form_end(articlesFormView) }}

    </div>

{% endblock %}