{% extends 'base/baseAdmin.html.twig' %}

{% block main %}

    <h1>Formulaire des Actualités : Ajouter/Modifier</h1>

    {{ form_start(newsFormView, {'attr': {'class' : 'adminForm'}}) }}

    <div class="formElement">
        {{ form_label(newsFormView.title, 'Titre', {'label_attr': {'class' : ''}}) }}
        {{ form_widget(newsFormView.title, {'attr': {'class' : 'formInput'}}) }}
    </div>

    <div class="formElement">
        {{ form_label(newsFormView.date, 'Date', {'label_attr': {'class' : 'labelForm'}}) }}
        {{ form_widget(newsFormView.date, {'attr': {'class' : 'formInput'}}) }}
    </div>

    <div class="formElement">
        {{ form_label(newsFormView.article, 'Article', {'label_attr': {'class' : 'labelForm'}}) }}
        {{ form_widget(newsFormView.article, {'attr': {'class' : 'formText'}}) }}
    </div>

    <div class="formElement">
        {{ form_label(newsFormView.Envoyer, 'Envoyer', {'label_attr': {'class' : 'labelForm'}}) }}
        {{ form_widget(newsFormView.Envoyer, {'attr': {'class' : 'labelSubmit'}}) }}
    </div>

    {{ form_end(newsFormView) }}

{% endblock %}