{% extends 'base/index.html.twig' %}

{% block main %}

    <a href="{{ path('articles_by_category', {'id': article.categorie.id}) }}">

        <div class="linkBack">
            <p>< {{ article.categorie.titre }}</p>
        </div>

    </a>

    <div class="product">

        {##############################################################################################################}
        {#                              DEBUT DE LA MODAL POUR LE POPUP DES IMAGES                                    #}
        {##############################################################################################################}

        <div class="modalArticle">
            {#####BOUTON POUR FERMER LA MODAL#####}
            <span class="closeModal">X Fermer</span>
            {#####IMAGE DANS LA MODAL#####}
            <div class="imgModal" >
                <img src="{{ asset('assets/img/produits') }}/{{ article.image1 }}" class="imgFluid" id="imgSelected" alt="image Produit">
            </div>
        </div>

        {##############################################################################################################}
        {#                                          DEBUT DU BLOC IMAGES                                              #}
        {##############################################################################################################}


        <div class="allImgArticle">
            {#####ID IMAGE UNIQUE#####}
            <div class="imgPopUp">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image1 }}" class="imgFluid imgPop" id="img1" alt="image Produit">
            </div>
            {#####ID IMAGE UNIQUE#####}
            <div class="imgPopUp">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image2 }}" class="imgFluid imgPop" id="img2" alt="image Produit">
            </div>
            {#####ID IMAGE UNIQUE#####}
            <div class="imgPopUp">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image3 }}" class="imgFluid imgPop" id="img3" alt="image Produit">
            </div>
            {#####ID IMAGE UNIQUE#####}
            <div class="imgPopUp">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image4 }}" class="imgFluid imgPop" id="img4"  alt="image Produit">
            </div>
        </div>

        <div class="articleInfo">
            <h2>{{ article.title }}</h2>
            <h3>Dimensions</h3>
            <p>{{ article.size }}</p>
            <h3>Description</h3>
            <p class="articleDescription">{{ article.description }}</p>
            <div class="boxPrice">
                <p class="price">{{ article.prix }}</p>
            </div>

        </div>


    </div>

{% endblock %}