{% extends 'base/index.html.twig' %}

{% block main %}
    <section>
        <a href="{{ path('articles_by_category', {'id': article.categorie.id}) }}">
            <div class="linkBack">
                <p>< {{ article.categorie.title }}</p>
            </div>
        </a>
        <article>
            <div class="product">

                <div class="galery-box">

                    <div ID="ngy2p" data-nanogallery2='{
                    "itemsBaseURL": "{{ asset('assets/img/upload') }}/",
                    "thumbnailWidth": "auto",
                    "thumbnailBorderVertical": 0,
                    "thumbnailBorderHorizontal": 0,
                    "thumbnailLabel": {
                    "display": false
                    },
                    "thumbnailHoverEffect2": "imageScale150",
                    "thumbnailAlignment": "center"
                 }'>
                        {% for images in article.images %}
                            <a href="{{ images.title }}" data-ngthumb="{{ images.title }}" data-ngdesc="">{{ images.title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="articleInfo">
                    <h2>{{ article.title }}</h2>
                    <h3>Dimensions</h3>
                    <p>{{ article.size }}</p>
                    <h3>Description</h3>
                    <p class="articleDescription">{{ article.description }}</p>
                    <div class="boxPrice">
                        <p class="price">{{ article.price }}</p>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}