{% extends 'base/index.html.twig' %}

{% block main %}

    <div class="categoryArticles">

        <div class="imgCategory">
            <img src="{{ asset('assets/img/icon') }}/{{ categorie.imagecategorie }}" class="imgFluid" alt="">
        </div>

        <h1>{{ categorie.titre }}</h1>

    </div>

    <hr class="hrFooter">

    <div class="allarticles">

        {% for article in categorie.articles %}

            <div class="homeArticlesInfo">

                <h2>{{ article.title }}</h2>

                <div class="homeImgArticles">
                    <img src="{{ asset('assets/img/produits') }}/{{ article.image1 }}" class="imgFluid" alt="">
                </div>

                <a href="{{ path('article_by_id', {'id': article.id}) }}">Voir ce produit</a>

            </div>

        {% endfor %}

    </div>

{% endblock %}
