{% extends 'base/index.html.twig' %}

{% block main %}

    <a href="{{ path('articles_by_category', {'id': article.categorie.id}) }}">

        <div class="linkBack">
            <div class="arrowback">
                <img src="{{ asset('assets/img/icon/ico.arrowleft.png') }}" class="imgFluid" alt="">
            </div>
            <div>Retour : {{ article.categorie.titre }}</div>
        </div>

    </a>

    <div class="product">

        <div class="allImgArticle">

            <div class="imgArticle">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image1 }}" class="imgFluid" alt="">
            </div>

            <div class="imgArticle">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image2 }}" class="imgFluid" alt="">
            </div>

            <div class="imgArticle">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image3 }}" class="imgFluid" alt="">
            </div>

            <div class="imgArticle">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image4 }}" class="imgFluid" alt="">
            </div>

            <div class="imgArticle">
                <img src="{{ asset('assets/img/produits') }}/{{ article.image5 }}" class="imgFluid" alt="">
            </div>

        </div>

        <div class="articleInfo">
            <h1>{{ article.title }}</h1>
            <p>{{ article.description }}</p>
            <p>{{ article.prix }}</p>
            <p>{{ article.size }}</p>
        </div>


    </div>

{% endblock %}