{% extends 'base/index.html.twig' %}

{% block main %}

        <h1 class="titleNewsAlone">{{ showNews.title }}</h1>

        <p class="showNews">{{ showNews.article }}</p>

    <div class="imgCarrousel">

        <div id="carrousel">
            <ul>
                <li><img src="{{ asset(showNews.image1) }}" class="imgFluid" /></li>
                <li><img src="{{ asset(showNews.image2) }}" class="imgFluid" /></li>
                <li><img src="{{ asset(showNews.image3) }}" class="imgFluid" /></li>
                <li><img src="{{ asset(showNews.image4) }}" class="imgFluid" /></li>
                <li><img src="{{ asset(showNews.image5) }}" class="imgFluid" /></li>
            </ul>
        </div>

    </div>


    <a href="{{ path('home_news') }}">Retour</a>

{% endblock %}