{% extends 'base/index.html.twig' %}

{% block main %}


    <a href="{{ path('home_news') }}">Retour</a>

        <h1 class="titleNewsAlone">{{ showNews.title }}</h1>

        <p class="showNews">{{ showNews.article }}</p>

    <div class="carrousel">

        <div class="imgCarrousel">
                <img src="{{ asset('assets/img/news') }}/{{ showNews.image1 }}" class="imgFluid" alt="">
        </div>
                <div class="imgCarrousel">
                    <img src="{{ asset('assets/img/news') }}/{{ showNews.image2 }}" class="imgFluid" alt="">
                </div>
                <li><img src="{{ asset('assets/img/news') }}/{{ showNews.image3 }}" class="imgFluid" alt=""></li>
                <li><img src="{{ asset('assets/img/news') }}/{{ showNews.image4 }}" class="imgFluid" alt=""></li>
                <li><img src="{{ asset('assets/img/news') }}/{{ showNews.image5 }}" class="imgFluid" alt=""></li>



    </div>




{% endblock %}