{% extends 'base/index.html.twig' %}

{% block main %}

    <a href="{{ path('home_news') }}">< Retour</a>

    <section>
        <article>
            <div class="content-news">
                <div class="modal-news">
                    {#####BOUTON POUR FERMER LA MODAL#####}
                    <span class="closeModalNews">X Fermer</span>
                    {#####IMAGE DANS LA MODAL#####}
                    <div class="imgModalNews" >
                        <img src="{#LA SRC DEVIENDRA CELUI DE L'IMAGE CLIQUEE#}" class="imgFluid" id="imgSelected" alt="image Actualité">
                    </div>
                </div>
                <div class="allImgNews">
                    {% for image in showNews.images %}
                        <div class="imgPopUpNews">
                            <img src="{{ asset('assets/img/upload') }}/{{ image.title }}" class="imgFluid imgPopNews" id="{{ image.id }}" alt="image Produit" />
                        </div>
                    {% endfor %}
                </div>
                <div class="newsInfo">
                    <h2>{{ showNews.title }}</h2>
                    <p>{{ showNews.article }}</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}