{% extends 'base/index.html.twig' %}

{% block main %}

    <a href="{{ path('home_news') }}">< Retour</a>

    <section>
        <article>
            <div class="content-news">
                <div class="galery-box">

                    <div ID="ngy2p" data-nanogallery2='{
                    "itemsBaseURL": "{{ asset('assets/img/upload') }}/",
                    "thumbnailWidth": "auto",
                    "thumbnailBorderVertical": 0,
                    "thumbnailBorderHorizontal": 0,
                    "thumbnailLabel": {
                    "display": false
                    },
                    "thumbnailHoverEffect2": "imageScale150",
                    "thumbnailAlignment": "center"
                 }'>
                        {% for images in showNews.images %}
                            <a href="{{ images.title }}" data-ngthumb="{{ images.title }}" data-ngdesc="">{{ images.title }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="newsInfo">
                    <h2>{{ showNews.title }}</h2>
                    <p>{{ showNews.article }}</p>
                </div>
            </div>
        </article>
    </section>
{% endblock %}